<div class="card animated fadeIn fast">
    <img src="assets/producto.png" class=" card-img-top img.img-fluid " alt="Card image cap ">
    <h5 class="card-header">{{ product.name }}</h5>
    <div class="card-body">
        <h6 class="card-title text muted">{{ product.description }}</h6>
        <hr>
        <div class="row">
            <div class="col-9">
                <p class="card-text"> $ {{ product.price }}</p>
            </div>
            <div class="col-3">
                <img src="assets/add-to-cart.png">
            </div>
        </div>
    </div>
</div>