<main class="py-5">
    <section class="mb-5">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="container">
                <h3 class="mb-3" *ngIf="mode != 'Add'">{{mode}} Product - {{productId}}</h3>
                <h3 class="mb-3" *ngIf="mode == 'Add'">{{mode}} Product</h3>
                <div class="bg-light p-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="">Name</label>
                            <input type="text" name="name" formControlName="name" class="form-control form-control-ml" required value="">
                        </div>

                        <div class="col-lg-6">
                            <label for="">Description</label>
                            <input type="text" name="description" formControlName="description" class="form-control form-control-ml" required value="">
                        </div>

                        <div class="col-lg-6">
                            <label for="">Price</label>
                            <input type="number" name="price" formControlName="price" class="form-control form-control-ml" required value="">
                        </div>

                        <div class="col-lg-6">
                            <label for="">Category</label>
                            <select class="custom-select" formControlName="productCategoryId">
                                <option [ngValue]="category.productCategoryId" *ngFor="let category of categories" >{{category.description}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row" *ngIf="!name.valid && (name.dirty || name.touched)">
                        <div class="col-lg-12">
                            <div class="alert alert-danger" role="alert" *ngIf="name.errors.required">
                                Name is required
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="name.errors.lettersOnly">
                                Name must contain letters only
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!description.valid && (description.dirty || description.touched)">
                        <div class="col-lg-12">
                            <div class="alert alert-danger" role="alert" *ngIf="description.errors.required">
                                Description is required
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="description.errors.lettersOnly">
                                Description must contain letters only
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!price.valid && (price.dirty || price.touched)">
                        <div class="col-lg-12">
                            <div class="alert alert-danger" role="alert" *ngIf="price.errors.required">
                                Price is required
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="price.errors.numbersOnly">
                                Price must contain letters only
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!productCategoryId.valid && (productCategoryId.dirty || productCategoryId.touched)">
                        <div class="col-lg-12">
                            <div class="alert alert-danger" role="alert" *ngIf="productCategoryId.errors.required">
                                Category is required
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="message">
                        <div class="col-lg-12">
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button type="submit" class="btn btn-outline-primary" [disabled]="!productForm.valid" *ngIf="mode != 'View' ">{{mode}}</button>
                </div>
            </div>
        </form>
    </section>
</main>